<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/wordpress/wp-content/plugins/nrfc-person-directory/tests" />
        <option value="$PROJECT_DIR$/wordpress/wp-content/plugins/nrfc-fixtures/tests" />
        <option value="$PROJECT_DIR$/wordpress/wp-content/plugins/nrfc-sponsor-management/tests" />
        <option value="$PROJECT_DIR$/wordpress/wp-content/plugins/nrfc-auto-links/tests" />
        <option value="$PROJECT_DIR$/wordpress/wp-content/plugins/nrfc-match-reports/tests" />
      </list>
    </option>
  </component>
</project>